@import ../lib/bourbon/app/assets/stylesheets/bourbon
@import 8ball

$animation-duration: 1.5s

body
	@include perspective(1000px)
	@include perspective-origin(50%)

.ball,
.answer,
.eight,
.ball:before,
.ball:after,
.answer:before,
.eight:before
	border-radius: 50%


.ball
	$animation: ease 1 reverse both

	@include transform-style(preserve-3d)
	@include animation(ball $animation-duration $animation)
	.eight
		@include transform-style(preserve-3d)
		@include animation(eight $animation-duration $animation)
		&:before
			@include transform(translateZ(150px))
	.answer
		@include transform-style(preserve-3d)
		@include animation(answer $animation-duration $animation)
		&:before,
		.text:after,
		.text
			@include transform(translateZ(128px))
		.text,
		.text:after
			opacity: 0
			@include animation(prediction .3s ease-out $animation-duration both)
.shake
	$animation: ease infinite alternate-reverse both

	@include transform-style(preserve-3d)
	@include animation(ball $animation-duration $animation)
	.eight
		@include transform-style(preserve-3d)
		@include animation(eight $animation-duration $animation)
		&:before
			@include transform(translateZ(150px))
	.answer
		@include transform-style(preserve-3d)
		@include animation(answer $animation-duration $animation)
		&:before,
		.text:after,
		.text
			@include transform(translateZ(128px))
		.text,
		.text:after
			opacity: 0
			@include animation(prediction .3s ease-out $animation-duration alternate both)




@include keyframes(prediction)
	to
		opacity: 1
		//@include transform(rotate(-8deg))
	from
		opacity: 0

@include keyframes(ball)
	to
		@include transform(translateX(90px) scale(0.86))
	from
		@include transform(translateX(0) scale(1))

@include keyframes(eight)
	0%
		@include transform(rotateY(180deg) rotateX(-60deg) scale(.6))
	36%
		opacity: 0
	40%
		opacity: 1
	100%
		@include transform(rotateY(350deg) rotateX(-10deg) scale(.9))

@include keyframes(answer)
	from
		@include transform(rotateY(-360deg) rotateX(0))
	to
		@include transform(rotateY(-180deg) rotateX(60deg))
